*~

*.omc
/.omakedb
/.omakedb.lock

*Test
*test

generated
*.generated
*.generated.*
*.tmp
*.log

*.o
*.a
*.win-*.bat
*.win-*.dll
*.exe
*.lin-*.sh
*.lin-*.bin
*.so
*.dynlibs
*.fdynlibs
*.dep

*.icl
*.inccl
*.stub.hpp
*.stub.cpp

*.ptx
*.cubin

/OMakeroot.local
